<!doctype html>
<html lang="en">
<head>
<title> Home </title>
</head>
<body>
<h1> Welcome! </h1>
<p> Here you can view and rate portfolios of our graduating students. </p>
<p> If you'd like to create a portflio, add to your existing one or rate other portfolios please <a href = "login">Login<a/> </p>
<p> Or if it's your first time here, <a href = "register">Register<a/> </p>
<p> <a href = "portfoliosbefore">View Portfolios<a/></p>
</body>
</html>

<!--
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
section.css-table
            section.four-column
              section.cell
                p Welcome! <br/><br/>Here you can view and rate portofolios of our graduating students.
              section.cell
                p If you'd like to create a portofolio or add to your existing one,please <a href = "loginpage.html">Login</a> 
 or If it's your first time here, please <a href = "register.html">Register</A>
      nav
        ul
          li 
            a(href="/") Home
          li 
            <A HREF = "http://www.google.com/">View Portofolios</A>                   
    

    section#wrapper
        block content
        footer 
    //-->

      

