<!DOCTYPE html>
<html>
<head>
<h1> Portfolios </h1>
<div class="clearfix float-my-children">
   <img src="https://lh6.ggpht.com/gNy40q6S_519oQZ_AE9sGypZ-Z94zDy2Xpm5Tg5mYf8yVOSLAxAhEatKLn0vJDyFErE=w300" width=100>
   <div>Name: Sarah Abdrabou </br> Description:...</br> What's in this portfolio: ... </div>
</div>
<p> ________________________ </p>
</br>
<div class="clearfix float-my-children">
   <img src="https://pbs.twimg.com/profile_images/1344982338/x2_5f2e134_400x400.jpeg" width=100>
   <div>Name:... </br> Description:... </br> What's in this portfolio: ... </div>
</div>
<p> ________________________ </p>
</body>
</html>


